body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  /* background-color: #ffffff; */
}

.navbar-brand {
  color:grey;
  font-family: "Raleway";
  font-style: oblique;
  font-size: 35px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#loady {
  margin-top: -350px;
  margin-left: 700px;
  /* margin-top: 30px;
  margin-left: 115px; */
}

#loady2 {
  position: absolute;
  margin-top: 550px;
  margin-left: 700px;
  /* margin-top: 30px;
  margin-left: 115px; */
}

#sector-title {
  font-family: "Lato";
}

#im {
  z-index: -1;
  position: absolute;
  float: inline-end;
  top: 50%;
  left: 50%;
  margin-top: -289px;
  margin-left: -390px;
  width: 780px;
}

#im2 {
  z-index: -1;
  position: absolute;
  float: inline-end;
  top: 50%;
  left: 50%;
  margin-top: 305px;
  margin-left: -390px;
  width: 780px;
}

#g-graph {
  position: absolute;
  margin-top: 10px;
  margin-left: 8px;
  white-space: nowrap;
}

#i-graph {
  /* position: relative; */
  position: absolute;
  margin-top: 20px;
  margin-left: 180px;
  /* margin-right: 220px; */
}


#sect {
  float:left;
}

#meas {
  float:right;
}

.todo-title {
  cursor: pointer;
}

#count {
  margin-top: 640px;
}


.completed-todo {
  text-decoration: line-through;
}

.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #282c34;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: #282c34;
  color: #ffffff;
}