body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  /* background-color: #ffffff; */
}

.navbar-brand {
  color:grey;
  font-family: "Raleway";
  font-style: oblique;
  font-size: 35px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

#sector-title {
  font-family: "Lato";
}

#sect {
  float:left;
  /* width: 100%; */
  height: 500px;
  overflow-y: scroll;
}

#meas {
  float:right;
  height: 460px;
  overflow-y: scroll;
}

.todo-title {
  cursor: pointer;
}

.completed-todo {
  text-decoration: line-through;
}

.tab-list > span {
  padding: 5px 8px;
  border: 1px solid #282c34;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}
.tab-list > span.active {
  background-color: #282c34;
  color: #ffffff;
}